@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

/* ==== Variables ==== */
:root {
    --color-dark: #1B2735;
    --color-more-dark: #090A0F;
    --color-gray: #707c8a;
    --color-text: white;
    --color-blue-dark: #0A3871;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    
}

html {
    font-size: 100%;
}

body {
    height: 100vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
    color: var(--color-more-dark);  
}

/* ==== Componentes ==== */
.btn {
   
    background: var(--color-blue-dark);
    padding: 1rem 0;
    border-color: var(--color-blue-dark);
    border-radius: 24px;
    width: 100%;
    color: var(--color-text);
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.btn1 {
    
    padding: 1rem 0;
    border-color: var(--color-blue-dark);
    border-radius: 24px;
    width: 100%;
    color: var(--color-blue-dark);
    font-weight: 500;
}

.btn1:hover {
    background-color: var(--color-blue-dark);
    cursor: pointer;
    transform: scale(1.01);
    color: #fff;
}

.btn__copiar{
    background: var(--color-blue-dark);
    padding: 1rem 0;
    border-color: var(--color-blue-dark);
    border-radius: 24px;
    width: 50%;
    color: var(--color-text);
    font-weight: 500;
}

.btn__copiar{
    cursor: pointer;
    transform: scale(1.01);
}





img {
    width: 100%;
    height: auto;
}

.icon-small {
    display: inline-block;
    width: 0.75rem;
}

.icon {
    width: 1.5rem;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
    width: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--color-dark);
    padding: 1rem;
}

textarea::placeholder {
    color: var(--color-blue-dark);
    opacity: 0.6;
}

/* ==== Header ==== */
header {
    padding-top: 1rem;
    max-height: 10%;
}

header h1 {
    width: 2%;
}

/* ==== Main ==== */
main {
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
    gap: 1rem;
}

/* ======== Input Section ======== */
.input-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8rem;
}

.input-wrap {
    display: flex;
    height: 100%;
    gap: 5px;
}

.info-text {
    
    font-size: 0.75rem;
    margin: 1rem 0;
}

.buttons {
    display: flex;
    gap: 1rem;
}

/* ======== View Section ======== */
.view-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: none;
    width: 30%;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    line-height: 120%;
    text-align: center;
}

.view-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ==== Footer ==== */

footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--color-blue-dark);
    padding-bottom: 1rem;
}




.custom-alert {
    z-index: 10;
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: fit-content;
    background-color: var(--color-dark);
    color: var(--color-text);
    text-align: center;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 940px) {
    header h1 {
        width: 5%;
    }
    
    main {
        flex-direction: column;
    }

    .input-section {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .view-section {
        width: 100%;
        min-height: 150px;
    }

    .view-section .image-wrap {
        display: none !important;
    }

    .custom-alert {
        width: 80%;
    }
}

/* ==== Responsive movil ==== */

@media screen and (max-width: 540px) {
    html {
        font-size: 75%;
    }

    body {
        padding: 0 1rem;
    }

    .input-section .buttons {
        flex-direction: column;
    }
}


.input {
    font-size: xx-large;
    display: block;
    font-family: monospace;
    white-space: nowrap; 
    width: 30ch; 
    animation: escribiendo 2s steps(20);          
    overflow: hidden;
}

.cursor{
animation: 0.6s parpadeo-cursor infinite;
}

@keyframes escribiendo {
from {
    width: 0;
}
}

@keyframes parpadeo-cursor {
50% {
    opacity: 0;
}
}